.profile-container {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 5px 8px rgb(149, 149, 149);
}

.profile-flex {
    display: flex;
    margin: 1rem auto;
}

.profile-container .label-ctn {
    width: 165px;
}

.profile-container input {
    margin-left: 2rem;
    padding: .5rem .3rem;
    border-radius: 5px;
    border: none;
    background-color: #cbcbcb;
    color: black;
    outline: none;
    width: 167px;
}

.profile-container select {
    margin-left: 2rem;
    padding: .5rem 0rem;
    width: 167px;
    border-radius: 5px;
}

.profile-container h3 {
    margin-top: 3rem;
}

.profile-container button {
    padding: 1rem 3rem;
    background-color: #3aac8b;
    color: white;
    border-radius: 30px;
    width: 50%;
    margin: 1rem auto;
    outline: none;
    border: none;
    cursor: pointer;
}

.profile-container button:hover {
    box-shadow: 0 5px 5px #cdcdcd;
}